@import '@fontsource-variable/inter/opsz-italic.css';
@import 'tailwindcss';

:root {
  --background: #000;
  --foreground: #ededed;
}

@theme inline {
  --font-sans: Inter, var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --default-font-family: var(--font-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-dark: #0a0a0a;
  --color-light: #ededed;

  --color-primary-100: oklch(88% 0.06 162);
  --color-primary-200: oklch(85% 0.09 162);
  --color-primary-300: oklch(82% 0.12 162);
  --color-primary-400: oklch(76% 0.17 162);
  --color-primary-500: #10b880;
  --color-primary-600: oklch(68% 0.19 162);
  --color-primary-700: oklch(62% 0.18 162);
  --color-primary-800: oklch(55% 0.16 162);
  --color-primary-900: oklch(48% 0.14 162);

  --color-secondary-100: oklch(89% 0.09 78);
  --color-secondary-200: oklch(86% 0.11 78);
  --color-secondary-300: oklch(83% 0.14 78);
  --color-secondary-400: oklch(78% 0.17 78);
  --color-secondary-500: #db9600;
  --color-secondary-600: oklch(70% 0.19 78);
  --color-secondary-700: oklch(62% 0.18 78);
  --color-secondary-800: oklch(54% 0.16 78);
  --color-secondary-900: oklch(46% 0.14 78);

  --spacing-8xl: 96rem;
}

@layer components {
  .heading-display {
    @apply text-[5.61rem] font-bold leading-[1.15];
  }

  .heading-xxl {
    @apply text-[4.209rem] font-bold  leading-[1.15];
  }

  .heading-xl {
    @apply text-[3.157rem] font-semibold leading-[1.15];
  }

  .heading-lg {
    @apply text-[2.369rem] font-semibold leading-[1.15];
  }

  .heading-md {
    @apply text-[1.777rem] font-medium leading-[1.15];
  }

  .heading-sm {
    @apply text-[1.333rem] font-medium leading-[1.15];
  }

  .text-body {
    @apply text-base font-normal leading-none;
  }

  .text-caption {
    @apply text-[0.75rem] font-normal leading-none;
  }

  .text-hint {
    @apply text-[0.563rem] font-normal leading-none;
  }

  .screen-container {
    @apply w-full max-w-8xl mx-auto;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply text-base font-normal leading-none;
}
